$font-stack:    'Roboto Condensed', sans-serif;
$dark-orange: rgb(231, 125, 39);
$light-orange:rgb(211, 161, 119);

$input--margin-mobile: 1em;
$form--margin-mobile:0.5em;

*{
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

.container{
    width:95%;
    margin: auto;
    padding-top: 0.5em;
}

#title{
    margin-bottom: 0.5em;
}

form{
    padding: 0.5em;
    background-color: #f2f3f3;
    border-radius: 10px;
    margin: 1em 0;
    box-shadow: 5px 10px 18px #b1aeae;
}

.form--label {
    margin-bottom: $form--margin-mobile;
    display:inline-block;
    font-size: 1.25em;
}

.form--input{
    outline: 0;
    border-width: 0 0 1.5px;
    background-color: #f2f3f3;
    margin-bottom: $input--margin-mobile;
    width: 98%;
}

.form--input:focus {
    -webkit-box-shadow: 0 0 10px $dark-orange;
    box-shadow: 0 0 10px $dark-orange;
}

.form--button{
    width: 98%;
   background: linear-gradient(to bottom, $light-orange 5%, $dark-orange 100%);
   border: 0;
   font-size: 1.1em;
   color: white;
   padding: 0.3em;
   border-radius: 7px;
   margin-bottom: $input--margin-mobile;

}

.form--button:hover{
    background: linear-gradient(to bottom, $dark-orange 5%, $light-orange 100%);
}

@media (min-width: 479px) {
    .container{
        width:60%;
    }
}

@media (min-width: 1000px) {
    .container{
        width:40%;
    }
}